
{% extends "base.html" %}

{% block content %}
    <h1>House Listing</h1>
        {{ form.hidden_tag() }}
        <p>
            {{ form.owner.label }}<br>
            {{ form.owner(size=32) }}<br>
            {% for error in form.owner.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.address.label }}<br>
            {{ form.address(size=32) }}<br>
            {% for error in form.address.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.neighborhood.label }}<br>
            {{ form.neighborhood(size=32) }}<br>
            {% for error in form.neighborhood.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.area.label }}<br>
            {{ form.area(size=32) }}<br>
            {% for error in form.area.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.price.label }}<br>
            {{ form.price(size=32) }}<br>
        </p>
        <p>{{ form.for_sale() }} {{ form.for_sale.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
